body {
    background-color: #77986A;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


.line {
    border-bottom: 1px solid #ffffff;
    margin-top: 10px;
    margin-left: 3%;
    width: 94%;
}

.line_small {
    border-bottom: 1px solid #ffffff;
;
    margin-left: 3%;
    width: 94%;
}

.logo_small {
    margin-left: 3%;
}

.breadcrumbs ul {
    list-style: none;
    margin-left: 1px    ;
    margin-top: 5px;
    font-size: 10px;
    letter-spacing: 3px;
    color: #EBFFE3;
}


.breadcrumbs li {
    display: inline;
}

.breadcrumbs li a {
    color: #EBFFE3;
    text-decoration: none;
    font-weight: 500;
}


h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 400;
    font-size: 55px;
}





@media screen {
    
}


.cate_list {
    color: #EBFFE3;
}

.cate_list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.cate_list li {
    list-style: none;
    margin-bottom: 15px;
    width: 500px;
    border-bottom: 1px solid #EBFFE3;
}

.cate_list li a {
    font-size: 25px;
    font-weight: 300;
    color:#ffffff;
    text-decoration: none;   
    display: block;
    padding: 10px;
}

.cate_list li a:hover {
    color:#FFFFFF;
    background-color: #AFD3A0;
    text-decoration: none;   
}

#cate_overview {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 260px;
}

